@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.snakehead {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-decoration-line: underline;
}

