@import url(https://www.1001fonts.com/lazenby-computer-font.html);

body {
    background-color: cadetblue;
}

.header {
    background-color: #f2f2ff;
    text-align: center;
    height: 80px;
    font-size: 25px;
}